# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Dynamic Data & Sensitive Credentials
consultations.json
data/admin-config.json
data/articles.json
public/uploads/*
!public/uploads/.gitkeep

# System & OS Files
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
